{
  "presets": [["es2015", { "loose": true }]],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["@tencent/isec-ui"],
          "alias": {
            "@tencent/isec-ui/src": "@tencent/isec-ui/lib"
          }
        }]
      ]
    }
  }
}
