node_modules
zip
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log.*
lerna-debug.log.*
lib
.idea
examples/isec-ui
examples/pages/en-US
examples/pages/zh-CN
examples/pages/es
fe.element/isec-ui
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
.envrc
